body {
    background: url('/mikado_game.jpg') no-repeat;
    background-size: 100%;
    background-color: #000000;
    color: #FFFFFF;

    text-align:center;
    position: absolute;
    top: 40px; /* Header Height */
    bottom: 20px; /* Footer Height */
    width: 100%;
}

.container {
    text-align: center;
    display: table;
    max-width: 700px;
    background: #333333;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=80);  /* IE 5-7 */
    -moz-opacity: 0.8;          /* Netscape */
    -khtml-opacity: 0.8;        /* Safari 1.x */
    opacity: 0.8;               /* Good browsers */
    
}

.content {
    display: table-cell;
}

