body {
    background: url('/mikado_game.jpg') no-repeat;
    background-size: 100%;
    
    background-color: #000000;
    color: #EEEEEE;

}


.container {
    margin: 0 auto;
    text-align: left;
    display: table;
    max-width: 700px;
    height: 100%;
    padding: 20px;

    background: #111111;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=90);  /* IE 5-7 */
    -moz-opacity: 0.9;          /* Netscape */
    -khtml-opacity: 0.9;        /* Safari 1.x */
    opacity: 0.9;               /* Good browsers */
    
}

.content {
    
    display: table-cell;
}

h1 {
    text-align: center;
    font-size: 60px;
}

p {
    padding: 0 0 20px 0;
    font-size: large;
}

.editorial {
    padding: 10px;
}

#short-version {
    font-size: x-large;
}

#intro {

}

#pitch {
    font-weight: bold;

}

footer {
    text-align: center;
}

.footer-content {
}
